{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-5">Памятка для волонтёра</h1>

        <!-- Ряд карточек -->
        <div class="row">
            <!-- Первая карточка -->
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Планирование мероприятий</h5>
                        <p class="card-text">
                            Волонтёр поможет в организации мероприятий, разрабатывая план, координируя ресурсы и помогая в логистике. Это важно для того, чтобы мероприятия прошли гладко и все участники получили максимум пользы.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Вторая карточка -->
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Помощь в регистрации участников</h5>
                        <p class="card-text">
                            На некоторых мероприятиях волонтёры занимаются регистрацией участников, помогают им заполнить анкеты, выдают бейджи или другие материалы. Это ключевая роль для эффективного начала событий.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Третья карточка -->
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Поддержка участников и гостей</h5>
                        <p class="card-text">
                            Волонтёры предоставляют информацию участникам и гостям мероприятия, помогают с вопросами и решением проблем. Это помогает создать приятную атмосферу и сделать участие более комфортным.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
